{% extends "base.html" %}

{% block title %}
Tasks -
{% endblock title %}
<style>
    body {
        font-family: "Open Sans", sans-serif;
        line-height: 1.6;
    }

    .add-todo-input,
    .edit-todo-input {
        outline: none;
    }

    .add-todo-input:focus,
    .edit-todo-input:focus {
        border: none !important;
        box-shadow: none !important;
    }

    .view-opt-label,
    .date-label {
        font-size: 0.8rem;
    }

    .edit-todo-input {
        font-size: 1.7rem !important;
    }

    .todo-actions {
        visibility: hidden !important;
    }

    .todo-item:hover .todo-actions {
        visibility: visible !important;
    }

    .todo-item.editing .todo-actions .edit-icon {
        display: none !important;
    }

    .add-new-btn {
        float: right;
    }
</style>
{% block content %}
<div class="container m-6 p-2 rounded mx-auto bg-light shadow">
    <div class="row m-1 p-4">
        <div class="col">
            <div class="p-1 h1 text-primary text-center mx-auto display-inline-block">
                <i class="fa fa-check bg-primary text-white rounded p-2"></i>
                <u>My Todo-s</u>
            </div>
            <a class="btn btn-primary" href="/todolist/add/" role="button">Add New</a>
            <a class="btn btn-danger" href="/user/logout" role="button">Logout</a>
        </div>
    </div>
    <div class="row mx-1 px-5 pb-3 w-80">
        <div class="col mx-auto">
            <!-- Todo Item 1 -->
            {% for task in tasks %}
            <div class="row px-3 align-items-center todo-item rounded">
                <div class="col px-1 m-1 d-flex align-items-center">
                    <a href="{{task.id}}">
                        <h4 class="mb-0">{{task.id}} </h4>
                        <input type="text"
                            class="form-control form-control-lg border-0 edit-todo-input bg-transparent rounded px-3"
                            readonly value="{{task.title}}" title="{{task.title}}" />
                        <input type="text"
                            class="form-control form-control-lg border-0 edit-todo-input rounded px-3 d-none"
                            value="{{task.title}}" />
                    </a>
                </div>
                <div class="col px-1  m-1 d-flex">
                    <h4 class="mb-0"><span
                            class="{% if task.state == 'T' %}badge bg-secondary{% endif %} {% if task.state == 'I' %}badge bg-primary{% endif %} {% if task.state == 'D' %}badge bg-success{% endif %}">{{task.get_state_display}}</span>
                    </h4>
                </div>
                <div class="col-auto m-1 p-0 todo-actions">
                    <div class="row todo-created-info">
                        <div class="col-auto d-flex align-items-center pr-2">
                            <i class="fa fa-info-circle my-2 px-2 text-black-50 btn" data-toggle="tooltip"
                                data-placement="bottom" title="Creation date" data-original-title="Created date"></i>
                            <label class="date-label my-2 text-black-50">{{task.creation_date}}</label>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}