{% extends 'base.html' %}

{% block content %}
<style>
    .form-field {
        width: 50%;
    }
</style>
<div class="container py-5 form-group">

    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <label>{{ field.label_tag }}</label>
        <p class="form-field">
            {{ field }}
            {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <p class="text-center">If you already have an account, <a href="login">login</a> instead.</p>
    {% endblock %}
</div>